[*.cs]

# IDE0290: 使用主构造函数
dotnet_diagnostic.IDE0290.severity = silent
# IDE0018: 可以内联变量声明
dotnet_diagnostic.IDE0018.severity = silent
# IDE0090: 可简化'new'表达式
dotnet_diagnostic.IDE0090.severity = silent
# IDE0180: 使用元组交换值
dotnet_diagnostic.IDE0180.severity = silent