[*.cs]

dotnet_diagnostic.IDE0290.severity = silent
dotnet_diagnostic.IDE0018.severity = silent
dotnet_diagnostic.IDE0090.severity = silent
dotnet_diagnostic.IDE0180.severity = silent
dotnet_diagnostic.IDE0017.severity = silent
dotnet_diagnostic.IDE0028.severity = silent
dotnet_diagnostic.IDE0130.severity = silent